---
# Skopiuj ten plik do `group_vars/all/vault.yml`, a następnie zaszyfruj:
# `ansible-vault encrypt group_vars/all/vault.yml`
#
# Alternatywnie:
# `ansible-vault edit group_vars/all/vault.yml`
#
# Po zaszyfrowaniu uruchamiaj playbook np.:
# `ansible-playbook -i inventory/hosts.yml site.yml --limit rpi-servicebox --ask-vault-pass`

vault_ar_iot_server_mqtt_username: ""
vault_ar_iot_server_mqtt_password: ""
